main.default .resume {
    max-width: 800px;
    margin: 0 auto;
}

main.default .resume > section {
    margin: 50px 0;
}

main.default .resume > section > h1 {
    text-align: center;
    margin: 20px;
}

main.default .resume > section > h2 {
    text-align: center;
    margin: 20px;
}

main.default .resume .profile {
    text-align: center;
}

main.default .resume .skills > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.default .resume .skills > ul > li {
    width: 48%;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
}

main.default .resume .projects {

}

main.default .resume .projects > ol {

}

main.default .resume .projects > ol > li {
    border: 1px solid #ddd;
    margin: 30px;
    padding: 10px;

}

main.default .resume .projects header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

main.default .resume .projects header .name {
    margin-right: 2em;
}

main.default .resume .projects header .start {
    display: flex;
}

/*main.dark {*/
    /*background: greenyellow;*/
    /*color: black;*/
/*}*/